<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<h3>Paths</h3>
<ul>
  <li>Using a slash '/' in front of a path passed to the routerLink directive makes it an absolute path [routerLink]="/servers".</li>
  <li>Not having the slash [routerLink]="servers" makes it a relative path. That means it will be appended to the current url path.</li>
  <li>Passing the routerLink directive a path starting with './' also makes it a relative path. [routerLink]="./servers"</li>
  <li>You can go up a level in a relative path by passing '../'.</li>
  <li>/servers -> absolute path: always appended to the root domain</li>
  <li>servers -> relative path: appended to the current address</li>
  <li>./servers -> relative path: appended to the current address</li>
  <li>../servers -> relative path: navigate up one directory.</li>
  <li>Angular supplies you with a directive that applies a desired class to a link when it is active - routerLinkActive="desired-class"</li>
  <li>You can expand the functionality of the routerLinkActive directive using the routerLinkActiveOptions directive.</li>
  <li>You can inject Route and ActivatedRoute into your component's constructor to get and set route properties</li>
  <li>You can register routes with defined parameters in app.module and access then with ActivatedRoute in your components</li>
  <li>It's VERY IMPORTANT to realize that if you try to navigate to a component you are already displaying, angular will not reload it by default if the parameters in the link change</li>
  <li>To monitor url parameters that may change, subscribe to the ActiveRoute params observable property.</li>
  <li>Nested Routes: Routes defined in the app.module can be given an array of children</li>
  <ul>
    <li>Child routes are relative to their parent routes (remove the path of the parent)</li>
    <li>Child routes need their own router-outlet which should be in the component 'pointed to' by the parent route.</li>
    <li>You can used queryParamsHandling: 'preserve' in your router.navigate function call to preserve (or merge) query parameters</li>
  </ul>
  <li>Wild Card Routes. You can redirect all invalid urls by using a route with a path of **. MAKE SURE IT IS THE LAST PATH IN THE ARRAY!</li>
  <ul>
    <li>WARNING! Paths are matched by prefix. That means '/' is the same as '/somewhere' so you will be sent to whichever route is defined first.</li>
    <li>To stop this rather silly behavior, use the pathMatch: 'full' property.</li>
    <li>{{ '{' }} path: '', redirectTo: '/somewhere', pathMatch: 'full' {{ '}' }}</li>
  </ul>
  <li><h4>Route Guards</h4></li>
  <ul>
    <li>Introduction: Guards are like the 'are you sure you want to leave' kind of feature. Angular gives an easy way to do this.</li>
    <li>Passing static data to a route</li>
    <ul>
      <li>When you define your route, you can pass static data to the component you are pointing to</li>
      <li><code>{{ '{' }} path: 'not-found', component: ErrorPageComponent, data: {{ '{' }} message: "Page not found!" {{ '}' }} {{ '}' }}</code></li>
      <li>Then, in your component, you can retrieve this data.</li>
      <li><code>this.errorMessage = this.route.snapshot.data['message'];</code></li>
    </ul>
    <li>Resolving dynamic data with Resolve Guards</li>
    <ul>
      <li>Resolvers are Services that use the angular interface in @angular/router</li>
      <li>Resolvers allow you to dynamically load the data you want to send your target component</li>
      <li>The Service is called in the routes array passed to the module with an object defining the data and its name</li>
      <li>The target component must then know to look in the ActivatedRoute.data collection for the data using the SAME NAME as the on in the routes array (above)</li>
    </ul>
  </ul>
  <li>Hash Routes - Understanding Location Strategies</li>
  <ul>
    <li>To use the default angular routing, the server it runs on must be configured to show the index.html page if a path is not found (404 error)</li>
    <li>Remember there is no real, physical path to [host]\servers\ and if the server insists on navigating there, angular will never be called</li>
    <li>In the event that you cannot set up your server to do this, you ca use the old method of angular routing - hash locations</li>
    <li>Enabling this is super easy. Simply use the following parameter when assigning your routes to your module.</li>
    <li><code>RouterModule.forRoot(appRoutes, {{ '{' }} useHash: true {{ '}' }})</code></li>
  </ul>

</ul>
